<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>historique de génération et lecture de QR code.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <h2> decoder une QR Code</h2>
      <button ion-button (click)="ScannerBtn()">depuis votre camera </button>
      <button ion-button (click)="imagePickerBtn()"> depuis une image</button>
    </div>
    <div><label *ngIf="TextFromQrScanned">{{TextFromQrScanned}}</label></div>
  </div>
  <div>
    <h2> historique des QR Code generés</h2>
    <ion-list>
      <ion-item ion-item *ngFor="let search of storeSearchs">
        {{search.text}}
        {{search.date}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>