<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>historique de génération et lecture de QR code.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button (click)="ScannerBtn()"> scanner le QR Code </button>
  <button ion-button (click)="imagePickerBtn()"> scanner le QR Code </button>
  <label *ngIf="TextFromQrScanned">{{TextFromQrScanned}}</label>
  <h2> historique des QR Code generés</h2>
  <ion-list>
    <ion-item ion-item *ngFor="let search of storeSearchs">
      {{search.text}}
      {{search.date}}
    </ion-item>
  </ion-list>

</ion-content>